/* You can add global styles to this file, and also import other style files */

html,
body,
p {
}

.apartment {
  color: #a72da3;
}

.condo {
  color: #d68000;
}

.house {
  color: #bf1818;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
